---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);

const meta = {
  title: "Home",
  description: "Welcome to Skin Schema, a blog about skin care",
};
---

<Layout meta={meta}>
  <article class="center box flow prose">
    {
      post.mainImage ? (
        <img src={urlFor(post.mainImage).url()} alt="Cover image" />
      ) : (
        <div />
      )
    }
    <div>
      <h1>{post.title}</h1>
      <p>{post.excerpt}</p>
      <p>
        {formatDate(post._createdAt)}
      </p>
      <div>
        <PortableText value={post.body} />
      </div>
    </div>
  </article>
</Layout>
