---
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
// TODO: Create better meta tags for home page

import hero from '../../assets/2023-Creative-Minds-38-hero.jpg';

const optimizedBackground = await getImage({ src: hero, format: 'webp' });
---

<Layout
  meta={{
    title: 'Skin Schema | Home',
    description: 'Skin Schema',
  }}
>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <main>
    <Header />
    <div
      class="bg-cover bg-center bg-blend-overlay py-l-xl text-balance"
      style={`background-image: url(${optimizedBackground.src}), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));`}
    >
      <div class="wrapper region">
        <h1
          class="mt-zero text-gray-100 tracking-tighter font-mono"
          style="max-inline-size: 18ch;"
        >
          Natural beauty routine tips
        </h1>
      </div>
    </div>
    <section class="wrapper" id="main">
      {
        allPosts.map((post) => (
          <div
            class="region flow prose"
            style="--region-space: var(--space-s-m);"
          >
            <div class="border border-gray-600 flex flex-col justify-between drop w-fit mx-auto rounded-2xl overflow-clip">
              <div class="box">
                <h2 class="text-step-3 mt-zero">
                  <a class="link" href={`/${post.id}/`}>
                    {post.data.title}
                  </a>
                </h2>
                <p class="mt-3xs">
                  <small class="font-mono text-gray-900 text-step-000">
                    <span class="bg-gray-200 py-3xs px-2xs rounded-full">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        class="icon"
                      >
                        <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                      </svg>
                      {new Date(post.data.publishDate).toLocaleDateString(
                        undefined,
                        {
                          weekday: 'long',
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                        },
                      )}
                    </span>
                  </small>
                </p>
                <p>{post.data.description}</p>
                <p>
                  <a href={`/${post.id}/`}>Read more &hellip;</a>
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </section>
  </main>
</Layout>
