---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="card">
  {
    post.mainImage ? (
      <img
        src={urlFor(post.mainImage).width(500).height(300).url()}
        alt="Cover image"
      />
    ) : (
      <div />
    )
  }
  <div>
    <h3>
      <a href={`/post/${post.slug.current}`}>
        {post.title}
      </a>
    </h3>
    <p>{post.excerpt}</p>
    <p>
      {formatDate(post._createdAt)}
    </p>
  </div>
</div>
