---
import "../css/reset.css";
import "../css/global.css";
import "../css/variables.css";
import "../css/blocks/box.css";
import "../css/blocks/card.css";
import "../css/blocks/center.css";
import "../css/blocks/grid.css";
import "../css/blocks/prose.css";
import "../css/blocks/cluster.css";
import "../css/blocks/cover.css";
import "../css/blocks/reel.css";
import "../css/blocks/stack.css";
import "../css/blocks/switcher.css";
import "../css/utilities/content.css";
import "../css/utilities/flow.css";
import "../css/utilities/region.css";
import "../css/utilities/wrapper.css";
import "../css/utility.css";
import "../css/exceptions.css";

import type { Meta } from "../ts/index";
interface Props {
    meta: Meta;
}

const { meta } = Astro.props;

const title = meta.title;
const description = meta.description;
const canonicalURL = meta.canonicalURL;
// const image = new URL(Astro.props.meta.image || './social.png', Astro.site);
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{meta.title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Canonical -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/og-image.png" />
    <meta
        property="og:image:alt"
        content={`Skin Schema. ${meta.description}`}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/images/og-image.png" />
    <meta
        property="twitter:image:alt"
        content={`Skin Schema. ${meta.description}`}
    />
    <link rel="author" href="humans.txt" />
    <!-- Preload fonts -->
</head>
