---
import '../css/global.css';
interface Props {
  title?: string;
  description?: string;
  canonicalURL?: URL | string;
  image?: string;
}

const { title, description, canonicalURL, image } = Astro.props;

const metaDescription = description || 'Skin Schema blog post';
// TODO: Add og-image.png to static folder
const ogImage = image || '/media/og-image.png';
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={metaDescription} />
  <meta name="viewport" content="width=device-width" maximum-scale="1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <!-- Canonical -->
  <link rel="canonical" href={canonicalURL} />
  <meta name="generator" content={Astro.generator} />
  <!-- Open Graph -->
  <meta property="og:image" content={ogImage} />
  <meta property="og:image:alt" content={metaDescription} />
  <meta name="title" content={title} />
  <title>{title}</title>
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    is:inline
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-R4BV0D0EME"></script>
  <script type="text/partytown" is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-R4BV0D0EME');
  </script>
</head>
