---
import '../css/global.css';
interface Props {
  title?: string;
  description?: string;
  canonicalURL?: URL | string;
  image?: string;
}

const { title, description, canonicalURL, image } = Astro.props;

const metaDescription =
  description ||
  'Committed to uncovering the best in authentic, minimalistic beauty. Tips, routines, and product reviews for a serene self-care experience.';
// TODO: Add og-image.png to static folder
const ogImage = image || '/media/og-image.png';

// If canonicalURL is not provided, use the current URL
const canonical = canonicalURL || Astro.url.toString();
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={metaDescription} />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Canonical -->
  <link rel="canonical" href={canonical} />
  <meta name="generator" content={Astro.generator} />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="skinschema.com" />
  <meta property="twitter:url" content={canonical} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={metaDescription} />
  <meta name="twitter:image" content={ogImage} />

  <!-- Open Graph -->
  <meta property="og:url" content={canonical} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={metaDescription} />
  <meta property="og:image" content={ogImage} />
  <meta property="og:image:alt" content={metaDescription} />
  <meta name="title" content={title} />

  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    is:inline
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-R4BV0D0EME"></script>
  <script type="text/partytown" is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-R4BV0D0EME');
  </script>
</head>
