---
import { Picture } from 'astro:assets';

import photoExample01 from '../assets/photo-example-01.jpg';
import photoExample02 from '../assets/photo-example-02.jpg';
import photoExample03 from '../assets/photo-example-03.jpg';
import photoExample04 from '../assets/photo-example-04.jpg';
import photoExample05 from '../assets/photo-example-05.jpg';
import photoExample06 from '../assets/photo-example-06.jpg';
---

<div
  class="wrapper region flow relative overflow-x-auto"
  id="PhotographyExamples"
  style="padding-right: 0 !important"
>
  <div class="box w-fit mx-auto text-center">
    <h2>Photography examples</h2>
  </div>
  <div class="reel">
    <Picture
      src={photoExample01}
      widths={[300, 800, photoExample01.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${photoExample01.width}px`}
      alt="Instagram high quality skincare photography example"
      class="h-auto max-w-screen-sm object-cover"
      quality={80}
      format="avif"
    />
    <Picture
      src={photoExample02}
      widths={[300, 800, photoExample02.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${photoExample02.width}px`}
      alt="Instagram high quality skincare photography example"
      class="h-auto max-w-screen-sm object-cover"
      quality={80}
      format="avif"
    />
    <Picture
      src={photoExample03}
      widths={[300, 800, photoExample03.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${photoExample03.width}px`}
      alt="Instagram high quality skincare photography example"
      class="h-auto max-w-screen-sm object-cover"
      quality={80}
      format="avif"
    />
    <Picture
      src={photoExample04}
      widths={[300, 800, photoExample04.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${photoExample04.width}px`}
      alt="Instagram high quality skincare photography example"
      class="h-auto max-w-screen-sm object-cover"
      quality={80}
      format="avif"
    />
    <Picture
      src={photoExample05}
      widths={[300, 800, photoExample05.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${photoExample05.width}px`}
      alt="Instagram high quality skincare photography example"
      class="h-auto max-w-screen-sm object-cover"
      quality={80}
      format="avif"
    />
    <Picture
      src={photoExample06}
      widths={[300, 800, photoExample06.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${photoExample06.width}px`}
      alt="Instagram high quality skincare photography example"
      class="h-auto max-w-screen-sm object-cover"
      quality={80}
      format="avif"
    />
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512 512"
    fill="currentColor"
    class="icon absolute right-m-l bottom-l-xl animate-bounce-right text-gray-900"
  >
    <title>Scroll to the right to see more</title>
    <path
      d="M334.5 414c8.8 3.8 19 2 26-4.6l144-136c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22l0 72L32 192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l288 0 0 72c0 9.6 5.7 18.2 14.5 22z"
    ></path></svg
  >
</div>
