---
import { Picture } from 'astro:assets';
import valentino from '../assets/workedwith/valentino@2x.png';
import armani from '../assets/workedwith/armani-beauty.png';
import naturopathica from '../assets/workedwith/naturopathica.png';
import queen from '../assets/workedwith/queen-musia.avif';
import saya from '../assets/workedwith/saya.webp';
---

<section class="wrapper region flow prose" id="BrandsWorkedWith">
  <div class="box w-fit mx-auto text-center">
    <h2>Brands we've worked with</h2>
  </div>
  <div class="flex select-none overflow-clip justify-center items-center">
    <ul
      role="list"
      class="cluster justify-center items-center"
      style="--gutter: var(--space-2xl-3xl)"
    >
      <li>
        <Picture
          src={valentino}
          formats={['avif', 'webp']}
          alt="Skin Schema has worked with Valentino"
          class="object-cover w-auto h-auto max-h-[20px]"
          pictureAttributes={{
            class: 'object-cover w-auto h-auto max-h-[20px]',
          }}
        />
      </li>
      <li>
        <Picture
          src={armani}
          formats={['avif', 'webp']}
          alt="Skin Schema has worked with Armani Beauty"
          class="object-cover w-auto h-auto max-h-[40px]"
          pictureAttributes={{
            class: 'object-cover w-auto h-auto max-h-[40px]',
          }}
        />
      </li>
      <li>
        <Picture
          src={naturopathica}
          formats={['avif', 'webp']}
          alt="Skin Schema has worked with Naturopathica"
          class="object-cover w-auto h-auto max-h-[20px]"
          pictureAttributes={{
            class: 'object-cover w-auto h-auto max-h-[20px]',
          }}
        />
      </li>
      <li>
        <svg
          width="140"
          height="51"
          viewBox="0 0 140 51"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current h-auto w-21 md:mt-3 md:w-auto"
          data-v-961c6ee0=""
          ><path
            d="M135.032 21.064a2.263 2.263 0 0 0 .693 1.726 2.746 2.746 0 0 0 3.577 0 2.48 2.48 0 0 0 0-3.445 2.74 2.74 0 0 0-3.577 0 2.273 2.273 0 0 0-.697 1.722l.004-.003zm-13.192 8.744h3.676l8.445-22.323h-3.581a353.506 353.506 0 0 1-1.822 5.035l-.721 1.984c-.24.663-.461 1.282-.663 1.855a100.44 100.44 0 0 0-.538 1.562c-.153.463-.265.806-.33 1.026h-.067c-.088-.22-.209-.562-.36-1.026a50.35 50.35 0 0 0-.541-1.557l-.678-1.855-.73-1.984a364.54 364.54 0 0 1-1.822-5.034h-3.841l6.16 15.73-2.587 6.587zm-13.979-6.227c1.457.065 2.5.208 3.13.43a1.292 1.292 0 0 1 .943 1.325c.012.39-.111.772-.348 1.082a2.66 2.66 0 0 1-.959.744c-.462.216-.953.36-1.457.431-.597.091-1.2.136-1.803.134-1.282 0-2.308-.172-3.08-.514-.772-.343-1.161-.916-1.167-1.719 0-.463.102-.921.298-1.341.192-.424.534-.76.961-.945.475.104.957.177 1.442.216.585.055 1.263.105 2.036.15l.004.007zm-3.48-10.803c0-1.06.292-1.861.878-2.402a3.065 3.065 0 0 1 2.164-.812 3.122 3.122 0 0 1 2.203.812c.584.54.877 1.341.878 2.402.002 1.06-.291 1.841-.878 2.344-.614.518-1.4.79-2.203.763a3.184 3.184 0 0 1-2.164-.763c-.586-.507-.878-1.289-.878-2.344zm11.028-3.246.694-2.45a3.95 3.95 0 0 0-.86-.266 5.69 5.69 0 0 0-1.092-.099 4.877 4.877 0 0 0-1.856.316 5.31 5.31 0 0 0-1.39.844 9.616 9.616 0 0 0-1.623-.58 7.65 7.65 0 0 0-1.984-.248 7.895 7.895 0 0 0-2.434.38 6.747 6.747 0 0 0-2.108 1.115 5.481 5.481 0 0 0-1.49 1.823 5.32 5.32 0 0 0-.564 2.483 5.086 5.086 0 0 0 .514 2.344 4.846 4.846 0 0 0 1.374 1.672 4.032 4.032 0 0 0-1.639 1.226 2.716 2.716 0 0 0-.579 1.69c.007.511.143 1.012.397 1.457.295.514.748.92 1.291 1.16a3.604 3.604 0 0 0-1.605 1.339 3.694 3.694 0 0 0-.647 2.137 3.358 3.358 0 0 0 .573 1.963 4.454 4.454 0 0 0 1.556 1.358 7.753 7.753 0 0 0 2.344.795c2.031.349 4.107.332 6.131-.05a8.733 8.733 0 0 0 2.592-.929 5.003 5.003 0 0 0 1.756-1.623 4.302 4.302 0 0 0 .646-2.383c0-.842-.172-1.527-.514-2.054a3.6 3.6 0 0 0-1.423-1.263 8.024 8.024 0 0 0-2.121-.696 21.88 21.88 0 0 0-2.6-.33c-.816-.067-1.538-.122-2.164-.166a15.091 15.091 0 0 1-1.572-.18 2.341 2.341 0 0 1-.945-.348.77.77 0 0 1-.314-.664c0-.44.161-.75.48-.926.255-.157.546-.248.845-.264.297.01.591.055.877.132a6.71 6.71 0 0 0 1.507.132 8.71 8.71 0 0 0 2.525-.361 6.384 6.384 0 0 0 2.135-1.093 5.69 5.69 0 0 0 1.491-1.754 4.884 4.884 0 0 0 .563-2.384 5.455 5.455 0 0 0-.298-1.79 4.052 4.052 0 0 0-.86-1.458c.138-.127.301-.223.48-.281a2.385 2.385 0 0 1 1.358-.032c.204.055.391.163.541.313l.012-.007zm-26.06 11.2a3.487 3.487 0 0 1-1.771-.43 3.788 3.788 0 0 1-1.243-1.159 5.301 5.301 0 0 1-.744-1.706 9.007 9.007 0 0 1 .003-4.205 5.291 5.291 0 0 1 .745-1.707 3.77 3.77 0 0 1 1.243-1.158 3.486 3.486 0 0 1 1.77-.431 3.574 3.574 0 0 1 1.79.43 3.72 3.72 0 0 1 1.261 1.159c.348.52.6 1.098.745 1.707a9.007 9.007 0 0 1 0 4.205 5.301 5.301 0 0 1-.745 1.706 3.744 3.744 0 0 1-1.262 1.16 3.575 3.575 0 0 1-1.789.429h-.003zm.003-13.678a8.57 8.57 0 0 0-3.278.597 6.805 6.805 0 0 0-2.463 1.688 7.55 7.55 0 0 0-1.556 2.617 10.718 10.718 0 0 0 0 6.756 7.55 7.55 0 0 0 1.556 2.617 6.831 6.831 0 0 0 2.467 1.69 9.334 9.334 0 0 0 6.558 0 7.008 7.008 0 0 0 2.483-1.69 7.424 7.424 0 0 0 1.573-2.617c.73-2.193.73-4.564 0-6.756a7.424 7.424 0 0 0-1.573-2.617 6.979 6.979 0 0 0-2.492-1.688 8.575 8.575 0 0 0-3.28-.597h.005zM73.73 23.182h3.774V0h-3.772l-.002 23.183zm-11.912-2.45a3.488 3.488 0 0 1-1.773-.43 3.813 3.813 0 0 1-1.242-1.159 5.338 5.338 0 0 1-.743-1.706 9.007 9.007 0 0 1 0-4.205 5.33 5.33 0 0 1 .743-1.707c.321-.476.746-.871 1.242-1.158a3.49 3.49 0 0 1 1.773-.431 3.583 3.583 0 0 1 1.789.43c.504.284.937.68 1.262 1.159.346.521.598 1.099.745 1.707a9.07 9.07 0 0 1 0 4.205 5.378 5.378 0 0 1-.745 1.706 3.761 3.761 0 0 1-1.262 1.16 3.584 3.584 0 0 1-1.79.429zm0-13.678a8.582 8.582 0 0 0-3.271.597c-.937.374-1.78.95-2.467 1.688a7.573 7.573 0 0 0-1.556 2.617 10.718 10.718 0 0 0 0 6.756 7.573 7.573 0 0 0 1.556 2.617 6.863 6.863 0 0 0 2.467 1.69 9.334 9.334 0 0 0 6.558 0 7.013 7.013 0 0 0 2.485-1.69 7.449 7.449 0 0 0 1.573-2.617 10.72 10.72 0 0 0 0-6.756 7.45 7.45 0 0 0-1.573-2.617 6.986 6.986 0 0 0-2.485-1.688 8.57 8.57 0 0 0-3.278-.597h-.01zm-23.011 9.042v-1.524a4.95 4.95 0 0 1 .397-2.086c.233-.532.57-1.01.993-1.409a3.714 3.714 0 0 1 1.342-.793c.464-.16.951-.245 1.442-.249a3.495 3.495 0 0 1 1.674.399c.501.27.937.648 1.274 1.107.37.51.646 1.083.812 1.691a8.059 8.059 0 0 1 0 4.222 5.23 5.23 0 0 1-.812 1.671 3.82 3.82 0 0 1-1.274 1.111 3.497 3.497 0 0 1-1.674.397 4.573 4.573 0 0 1-1.442-.247 3.692 3.692 0 0 1-1.342-.796 4.347 4.347 0 0 1-.993-1.408 4.95 4.95 0 0 1-.397-2.086zm4.966 7.517c.97.01 1.93-.187 2.817-.578a6.49 6.49 0 0 0 2.234-1.658 7.999 7.999 0 0 0 1.491-2.6c.729-2.238.729-4.65 0-6.888a8.01 8.01 0 0 0-1.491-2.599 6.454 6.454 0 0 0-2.234-1.648 6.782 6.782 0 0 0-2.817-.58c-1.259 0-2.313.265-3.163.795a5.568 5.568 0 0 0-1.937 1.949v-2.32h-3.606v22.322h3.776V21.23a6.28 6.28 0 0 0 1.837 1.655c.785.487 1.817.727 3.096.721l-.003.007zm-23.954 6.195h3.676L31.94 7.485h-3.576a358.92 358.92 0 0 1-1.821 5.035l-.721 1.984c-.24.663-.462 1.282-.664 1.855s-.381 1.094-.537 1.562c-.154.464-.264.806-.33 1.026h-.067c-.089-.22-.21-.562-.36-1.026a77.905 77.905 0 0 0-.542-1.557c-.205-.573-.436-1.192-.68-1.855l-.72-1.984c-.589-1.55-1.201-3.23-1.838-5.04h-3.841l6.16 15.73-2.584 6.593zM0 0v3.213h6.793v19.97h3.91V3.213h6.788V0H0zM91.082 42.948a1.316 1.316 0 0 1 .474-1.066c.316-.267.8-.4 1.451-.4.662 0 1.169.157 1.524.473.368.34.6.804.653 1.303l1.762-.4a3.14 3.14 0 0 0-1.28-2.05c-.688-.49-1.56-.734-2.615-.733a5.409 5.409 0 0 0-1.517.2 3.59 3.59 0 0 0-1.192.585c-.33.25-.597.574-.779.947a2.92 2.92 0 0 0-.272 1.289c-.011.422.077.84.258 1.22.173.341.424.636.734.86.35.248.736.439 1.147.563.49.152.993.263 1.502.332.38.055.756.137 1.125.244.263.075.513.19.741.34.174.118.314.28.408.468a1.61 1.61 0 0 1-.467 1.873c-.395.281-.922.422-1.584.422a2.885 2.885 0 0 1-1.037-.164 2.128 2.128 0 0 1-.72-.436 1.834 1.834 0 0 1-.437-.637 2.502 2.502 0 0 1-.18-.748l-1.733.267a2.957 2.957 0 0 0 1.118 2.2c.381.297.812.524 1.273.672.553.176 1.13.262 1.71.253a5.453 5.453 0 0 0 1.636-.231 3.786 3.786 0 0 0 1.252-.644 2.884 2.884 0 0 0 1.094-2.31 2.963 2.963 0 0 0-.228-1.22 2.3 2.3 0 0 0-.69-.873 3.86 3.86 0 0 0-1.139-.6 9.425 9.425 0 0 0-1.569-.385 9.494 9.494 0 0 1-1.134-.238 2.885 2.885 0 0 1-.754-.317 1.12 1.12 0 0 1-.415-.437 1.376 1.376 0 0 1-.126-.622h.006zm-9.238 7.684h1.745V40.268h-1.745v10.364zm-7.43-7.36a1.61 1.61 0 0 1-.496 1.252c-.331.301-.862.45-1.594.45h-1.82v-3.27h1.703c.721 0 1.262.12 1.643.36.38.24.564.644.564 1.207v.002zm1.776-.044a2.839 2.839 0 0 0-.326-1.43 2.631 2.631 0 0 0-.851-.911 3.464 3.464 0 0 0-1.185-.48 6.272 6.272 0 0 0-1.34-.14h-3.722v10.365h1.732v-4.249h1.704l2.393 4.249h2L74 46.174a3.086 3.086 0 0 0 1.585-1.042c.41-.547.62-1.22.594-1.903l.01-.001zm-17.199-.918h.03c.032.1.075.236.134.407.06.172.127.372.2.593l.237.711c.084.252.171.501.26.748.197.581.414 1.207.65 1.88h-2.955l.636-1.88c.089-.247.18-.496.26-.748l.236-.71a34.35 34.35 0 0 0 .318-1.001h-.006zm4.73 8.322-3.747-10.364h-1.776l-3.76 10.364h1.717l.917-2.597h3.91l.918 2.606 1.821-.01zm-14.574-7.195c0 .642-.19 1.108-.57 1.397-.38.29-.955.436-1.725.438h-1.746v-3.568h1.746c.781 0 1.359.126 1.733.379.373.252.561.703.562 1.354zm-4.04 3.256h2.012a5.77 5.77 0 0 0 1.54-.193 3.35 3.35 0 0 0 1.199-.591c.338-.27.607-.618.784-1.013.198-.46.295-.958.283-1.46a3.531 3.531 0 0 0-.268-1.442 2.494 2.494 0 0 0-.767-.992 3.307 3.307 0 0 0-1.208-.562 6.333 6.333 0 0 0-1.562-.18H43.36v10.372h1.747v-3.939z"
          ></path></svg
        >
      </li>
      <li>
        <Picture
          src={queen}
          formats={['avif', 'webp']}
          alt="Skin Schema has worked with Queen Musia"
          class="object-cover w-auto h-auto max-h-[20px]"
          pictureAttributes={{
            class: 'object-cover w-auto h-auto max-h-[20px]',
          }}
        />
      </li>
      <li>
        <Picture
          src={saya}
          alt="Skin Schema has worked with Saya"
          class="object-cover w-auto h-auto max-h-[20px]"
          pictureAttributes={{
            class: 'object-cover w-auto h-auto max-h-[20px]',
          }}
        />
      </li>
    </ul>
  </div>
</section>
